<% content_for(:head) do javascript_include_tag '//www.google.com/jsapi' end -%>
<% content_for(:head) do javascript_include_tag :mobile end -%>
<% content_for(:head) do javascript_include_tag :maps end -%>
<div id="map"></div>
